/* ABOUT */

section.about.container {
  display: flex;
  flex-direction: row;
  gap: 5em;
  padding: 4.5em 0 4.5em 0;
}

@media (max-width: 1440px) {
  section.about.container {
    gap: 3em;
    padding: 4.5em 2em;
  }
}
@media (max-width: 768px) {
  section.about.container {
    gap: 2em;
    padding: 2em;
    flex-direction: column-reverse;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  padding-top: 1.5em;
}

@media (max-width: 768px) {
  .text-container {
    align-items: center;
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2em;
  padding-right: 20em;
  line-height: 1.8;
}

@media (max-width: 1440px) {
  .about-text {
    padding-right: 0em;
  }
}

.about-image-gallery {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 25em;
}

.about-image-gallery img {
  border-radius: 5px;
}

@media (max-width: 1440px) {
  .about-image-gallery {
    min-width: 30%;
    justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .about-image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;
  }

  .about-image-gallery img {
    height: auto;
    width: auto;
    max-width: 30%;
  }
}

@media (max-width: 468px) {
  .about-image-gallery {
    min-width: auto;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.about .rn-logo {
  align-self: flex-start;
  width: 12em;
}
