/* Confirmation Page */
.capitalize {
  text-transform: capitalize;
}

.confirmation-summary {
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
}

.data-leftElement {
  font-weight: bold;
}

.confirmation-summary .confirmation-data {
  gap: 2rem;
}
