/* FOOTER */

section.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
  max-width: none;
  max-height: 50px;
  background-color: var(--highlight);
}

.footer-link-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
  flex-wrap: wrap;
}

.footer li {
  display: inline-block;
}

.footer-link-container li.buttonized {
  background-color: white;
  padding: 0.3em 0.6em;
}

.footer-link-container li.buttonized a {
  color: var(--highlight);
}

.footer.copyright-container {
  align-self: flex-end;
}

.footer p.copyright-note {
  align-self: flex-end;
  justify-content: flex-end;
}

.footer .copyright-note {
  color: white;
}

.footer .container .footer-link-container {
  flex-direction: center;
}
