/* FOOTER */

section.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em 1em;
  max-width: none;
  max-height: 50px;
  background-color: var(--highlight);
}

.footer-link-container {
  flex: 1;
  text-align: center;
}

.footer-link-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
  flex-wrap: wrap;
}

.footer li {
  display: inline-block;
}

.footer-link-container li.buttonized {
  background-color: white;
  padding: 0.3em 0.6em;
}

.footer-link-container li.buttonized a {
  color: var(--highlight);
}

.footer .copyright-note {
  color: white;
}

.copyright-container {
  flex: 1;
  text-align: left;
}
