/* FORM */

section.form {
  padding-bottom: 1.5em;
  position: relative;
}

@media (min-width: 1440px) {
  section.form.container {
    min-width: 1440px;
  }
}

@media (max-width: 768px) {
  section.form.container {
    padding-bottom: 2em;
  }
}

@media (max-width: 480px) {
  section.form.container {
    padding-bottom: 0;
  }
}

section.form h1 {
  padding: 1.2em 0;
}

.form form {
  display: grid;
  grid-auto-rows: auto;
  border: 2px solid var(--lightGrey);
  padding: 4em 6em;
  gap: 1.8em;
  max-width: 1200px;
}

@media (max-width: 1440px) {
  .form form {
    padding: 1em 16em;
    border: none;
  }
}

@media (max-width: 480px) {
  .form form {
    padding: 0em 3em 1em 2em;
    border: none;
    justify-content: center;
  }
}

.form legend,
form label {
  font-weight: bold;
}

.form legend {
  margin-bottom: 0.5em;
}

/* STRUCTURE */

.fieldset-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

@media (max-width: 480px) {
  .fieldset-container {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
.donation-method {
  display: flex;
  width: 105%;
  transform: translate(-2.5%, 0);
}

.donation-method label {
  width: 50%;
}

/* Area Selection & Clothing Selection*/
.areas-selection-container,
.clothing-selection-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 1em;
  white-space: nowrap;
}

@media (max-width: 1280px) {
  .areas-selection-container,
  .clothing-selection-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

/* Contact Data */
.contact-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 0.5em;
  column-gap: 1em;
}

.contact-data label {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 456px) {
  .contact-data label {
    align-items: normal;
  }
}
.contact-data label input {
  min-width: 100%;
}

/* Area Selection */
.area-selection {
}

.form .submit-error {
}

/* Buttonization */
.form .buttonized {
  display: flex;
  padding: 0.5em 0.8em;
  background-color: var(--button-unchecked);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease;
  font-size: var(--font-button);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
}

.form .buttonized input[type="radio"],
.form .buttonized input[type="checkbox"] {
  display: none;
}

.form .buttonized:has(input:checked) {
  background: var(--button-checked);
  color: var(--button-text);
  font-weight: bold;
}

/* Submit Button */
.submit-button {
  display: inline-block;
  padding: 1em 3em;
  background-color: var(--button-checked);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  font-size: var(--font-button);
  color: white;
  border: none;
}

/* Submit Button: center */
.submit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.submit-button:hover {
}

/*Submit Button: if disabled*/
.submit-button:disabled {
  background-color: rgb(213, 213, 213);
  color: white;
}

@media (max-width: 494px) {
  section.form label.mobile-hidden {
    margin-top: -1em;
  }
}

/* Error- and Infotext */
.errorText {
  font-size: var(--font-small);
  font-weight: normal;
  color: white;
  background-color: var(--warning);
  padding: 0.2em 0.6em;
  width: fit-content;
}

.infoText,
.noticeText {
  font-size: var(--font-small);
  font-weight: normal;
  color: black;
  background-color: var(--lightGrey);
  padding: 0.2em 0.6em;
  width: fit-content;
}
