/* HERO */

.hero.container {
  max-width: none;
  position: relative;
}

.hero-image {
  height: 14rem;
  object-fit: cover;
  object-position: 35% center;
}

/* Seam-Hero */
img.hero-seam {
  position: absolute;
  bottom: -4em;
  left: 0em;
  width: 100%;
}
